#hero{
    width: 100%;
    height: 506px;
    transition: 1s;
    background-size:100% !important;
}

.home{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
input{
    border: 1px solid;
}


// @media (max-width: 1440px) {

// }

@media (max-width: 1200px) {
    #hero{
        height: 406px;
    }
}

@media (max-width: 1024px) {
    #hero{
        height: 356px;
    }
}

@media (max-width: 992px) {
    #hero{
        height: 306px;
    }
}

@media (max-width: 768px) {
    #hero{
        height: 256px;
    }
}

@media (max-width: 576px) {
    #hero{
        height: 206px;
    }
}

@media (max-width: 450px) {
    #hero{
        height: 206px;
    }
}

// @media (max-width: 400px) {

// }

// @media (max-width: 375px) {

// }

// @media (max-width: 320px) {

// }